name: CI Data Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  dbt:
    runs-on: ubuntu-latest

    env:
      DBT_PROFILES_DIR: .
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ vars.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE: ${{ vars.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_DATABASE: ${{ vars.SNOWFLAKE_DATABASE }}
      SNOWFLAKE_SCHEMA: ${{ vars.SNOWFLAKE_SCHEMA }}
      SNOWFLAKE_STAGE: ${{ vars.SNOWFLAKE_INTERNAL_STAGE }}
      SNOWFLAKE_FILE_FORMAT: ${{ vars.SNOWFLAKE_FILE_FORMAT }}
      DATA_YEAR_RANGE: ${{ vars.DATA_YEAR_RANGE }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Check for new data
        id: check_files
        run: python check_for_new_data.py --years ${{ env.DATA_YEAR_RANGE }}

      - name: Download source data
        if: steps.check_files.outputs.download_needed == 'true'
        run: python download_data.py --dates "${{ steps.check_files.outputs.missing_dates }}"

      - name: Upload data to Snowflake Stage
        if: steps.check_files.outputs.download_needed == 'true'
        run: python upload_data.py

      - name: Install dbt deps
        run: dbt deps

      - name: dbt seed
        run: dbt seed --target ci

      - name: dbt build (modified models only)
        run: dbt build --target ci